.elGolT{
	color:rgba(20,20,250,0.7);
	font-size: 180px;
	text-align: center;
}
h1, h2, h3{
	font-family:'Kreon';
	color:rgba(20, 20, 250, 0.7);
}
h4, h5{
	color:rgba(255, 0, 47, 0.9);	
	font-family:'Ubuntu';
	font-weight: bold;
	font-size: xx-large;
	text-align: justify;
}
.formU>h5{
	padding-top: 30%;
	padding-bottom: 10%;
}
.formU{
	background-color: rgba(250,250,250,0.5);
	text-align: center;
	width:75%;
}
p{
	font-family:'Ubuntu';	
}
label{
	color:rgba(255, 0, 47, 0.9);	
	font-family:'Ubuntu';
}
.fondoApp{
    background: url("img/ElGol.jpeg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
span{
	font-family:'Kreon';
	color:rgba(20, 20, 250, 0.7);
}
.app{
	height: 100%;
}
.buttonsL{
	text-align: center;
	padding: 15%;
}
.row{
	margin:0;
}
.formR{
	display: none;
}
.userF{
	padding-top: 2.5%;
	padding-bottom: 5%
}
.titJugadores{
	padding-top: 5%;
	text-align: center;
}
.tusEquipos{
	padding-top: 5%;
	display:inline-block;
	width:100%;	
}
.tusEDerecha{
	max-width: 20%;
	float: right;
}
.tusEIzquierda{
	max-width:75%;
	float:left;
}

/*.form-horizontal{
	position:absolute;}*/